<h1>Edit task</h1>

<%= form_with model: @task do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :details %>
  <%= form.text_area :details %>
  <%= form.check_box :completed %>
  <%= form.label :completed %>
  <%= form.submit %>
<% end %>

<p><%= link_to 'Back to list', root_path %></p>
